<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
	<head>
	    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">GPlatform管控平台</title>
		<th:block th:include="fragments/includes::header"></th:block>
	</head>
	<body>
        <div class="vbox">
            <div class="scrollable padder">
				<div class="page-content"  layout:fragment="content">

	            </div>
            </div>
		</div>
        <th:block th:include="fragments/includes::scripts"></th:block>
        <!-- file drop upload -->
         
	    <script type="text/javascript"  th:src="@{/assets/plugins/dropzone/dropzone.js}"></script>
	    <script type="text/javascript" th:src="@{/assets/oz/oz.upload.js}"></script>
		
		<th:block layout:fragment="scripts"></th:block>
		<script type="text/javascript" th:inline="javascript">
			/*<![CDATA[*/
			$(function(){
				var message = /*[[${message}]]*/ '';
				var error = /*[[${error}]]*/ '';
				if(message){
					Toast.success(message);
				}else if(error){
					Toast.error(error);
				}
			})
			/*]]>*/
		</script>
	</body>
</html>