<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
	<head>
	    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">GPlatform管控平台</title>
		<th:block th:include="fragments/includes::header"></th:block>
	</head>
	<body>
        <div class="vbox">
            <div class="scrollable">
				<div class="page-content" layout:fragment="content">

	            </div>
            </div>
		</div>
        <th:block th:include="fragments/includes::scripts"></th:block>
        <script type="text/javascript">
		     /*<![CDATA[*/
			 function ozRefresh() {
				 Grid.get("data-panel").refresh();
			 }
			 function onAfterLoad(){
				 if (window.frameElement) {
					 $(window.frameElement).height($(".scrollable").height());
				 }
			 }
		     /*]]>*/
		</script>
		<th:block layout:fragment="scripts"></th:block>
	</body>
</html>